@import "../../../constants/variables";

.navbar {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    background-color: rgba(0, 0, 0, 0.168);
    max-height: 100px !important;
    align-items: center;
    padding: 1px 25px !important;
  }
  .navbar-toggler {
    border: none;
    font-weight: bold;
  }
  .nav-link,
  .navbar-brand {
    cursor: pointer;
    color: $text-color-primary;
  }