@import "../../constants/variables";

input[type="text"],
input[type="password"] {
  height: 58px;
  width: 484px;
  padding: 12px 20px;
  margin: 13px 0;
  border-radius: 20px;
  box-sizing: border-box;
}

#admin-login {
  column-gap: 270px;
}

#lgn-btn {
  padding: 12px 20px;
  margin: 13px 0;
  width: 484px;
  height: 57px;
  border-radius: 15px;
  background-color: $secondary-red;
  color: white;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

#login-card {
  width: 594px;
  height: auto;
  min-height: 260px;
  padding: 10px;
  object-fit: contain;
  background-color: $primary-red;
  border-radius: 30px;
}
