.add-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-card-content {
  height: 499px;
  width: 512px;
  border-radius: 5px;
}

.header {
  background-color: #63aa44;
  height: 54px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h1 {
  font-size: 20px;
  color: white;
  font-family: "Inter";
  font-weight: 500;
}

.add-waste-input {
  border: 1px solid;
  width: 256px;
  height: 38px;
}

.input-section {
  background-color: #f7f8fa;
}

.weight-input {
  width: 138px;
  height: 40px;
}

input {
  border: 1px solid;
  border-radius: var(--bs-border-radius);
  padding: 0.375rem 0.75rem;
}

.form-control {
  border: 1px solid;
  border-radius: var(--bs-border-radius);
  padding: 0.375rem 0.75rem;
}

.footer {
  height: 64px;
  background-color: white;
}

.footer button {
  width: 80px;
  height: 32px;
  font-size: 13px;
}

/* AddWaste.scss */
.date-picker-wrapper {
  position: relative;
}

.date-picker-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value as per your preference */
  transform: translateY(-50%);
  cursor: pointer;
}
