.notice-card{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.notice-card-content{
    width: 440px;
    height: 182px;
    background-color: white;
    border-radius: 10px;
}

.notice-card-content h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

.notice-card-content p{
    font-family: 'Inter';
}