@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

table {

    font-weight: 500;
    font-family: 'Inter', sans-serif;

    thead{
        background-color: #E1E4E8;
        height: 56px;
        width: 100%;
    }
    tbody tr{
        height: 56px;
    }
}

.table-row.active {
    background-color: lightblue; /* Change this to the desired background color */
}