@import "../../constants/variables";

#logo {
  height: 50%;
  width: auto;
  margin-bottom: 100px;
}

#about {
  background-image: url("./assets/img/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: $background-white;
}
#features {
  background-color: $primary-green;
  color: $text-color-secondary;
}
#contacts {
  background-color: $primary-green;
  color: $text-color-secondary;
}
#home {
  background-image: url("./assets/img/tempBackdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#inline-text-style {
  color: $secondary-green;
}

.card-img-bg {
  background-color: $background-white;
  object-fit: cover;
}

@mixin card-img-format {
  max-width: 100%;
  max-height: 180px;
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contactCard {
  width: 200px;
  max-width: 250px;
  min-height: 240px;
  background-color: $primary-red;
  color: $text-color-primary;
  img {
    @include card-img-format;
    height: auto;
    max-width: 50%;
    object-fit: contain;
  }
}