
// Landing page - Color Scheme
$primary-red: #7A0000;
$secondary-red: #7A0000;
$primary-green: #002A26;
$secondary-green: #00CB6A;
$tertiary-gren: #9EAFA2;

$text-color-primary: white;
$text-color-secondary: $primary-green;