// Landing page - Color Scheme
$primary-red: #7a0000;
$secondary-red: #7a0000;
$primary-green: #002a26;
$secondary-green: #00cb6a;
$tertiary-grey: #9eafa2;
$background-white: #fafafa;
$background-black: #171717;
$secondary-black: #171717;

$text-color-primary: #fafafa;
$text-color-secondary: $primary-green;

// temporary variable - will remove later 
$temp-color: RGB(33, 0, 2);


@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  justify-content: space-evenly;
}
