// pass constant variables used 
@import "./context/variables";



body{
  overflow-x: hidden;
  @include flex-column();
  scroll-behavior: smooth;
}

.navbar {
  font-weight: bold;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}
.navbar-toggler{
  border: none;
  font-weight: bold;
}
.nav-link,
.navbar-brand {
  color: $text-color-primary;
}


.artemis-logo {
  height: 55%;
  width: 25%;
  background-image:url("./placeholder-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#login-forms {
  background-color: $primary-red;
  border-radius: 30px;
}
#home {
  background-image: url("./tempBackdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#inline-text-style {
  color: $secondary-green;
}