// pass constant variables used 
@import "./assets/variables";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  color: $text-color-primary;
  background-color: $primary-red;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}