// pass constant variables used 
@import "./assets/variables";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  justify-content: space-evenly;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  @include flex-column()
}

.navbar {
  font-weight: bold;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}
.navbar-toggler{
  border: none;
  font-weight: bold;
}