@import "tailwindcss";
@import "./theme.css";

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light);
  color: var(--color-text-base);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: white;
}

p {
  height: auto !important;
}
